html{
	position: relative;
	min-height: 100%;
}

body{
	font-size: 100%;
	margin-bottom: 40px;
}

/*Add/edit timer modal*/

input:invalid.validated,
form.validated input:invalid{
	border-color: #dc3545;
}

.invalid-message{
	display: none;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}

.invalid-feedback-reminder{
	display: none;
}

#invalid-hms{
	margin-top: -1rem;
}

.form-group>#invalid-hms{
	display: none;
}

.form-group>.validated#invalid-hms{
	display: block;
}

.validated.invalid-message{
	display: block;
}

form:invalid.validated .invalid-message-reminder{
	display: block;
}

/*Timers*/
.clock{
	font-size: 3rem;
	margin-top: -.5rem;
}

.card .card{
	margin-top: 0.5rem;
}

#timer>.card{
	margin-top: 1rem;
}

.timer-name{
	font-size: 1.5rem;
}

/*Footer*/
footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 40px;
	line-height: 40px;
}
